:root {
	--root-color: #111;
	--root-color-light: #333;
	--root-color-lighter: #444;
	--body-width: 60%;
}
body { padding: 3em; background: #222; }
h2 { font-size: 1.8em; margin-block-end: 0.415em; }
h3 { font-size: 1.4em; margin-block-end: 0.5em; }
p { margin-block: 0.5em; text-align: justify; }
img {
	display: block;
	margin-inline: auto;
	max-width: 100%;
}
img + img { margin-top: 1em; }
center {
	margin-block-start: 0.5rem; margin-block-end: 1rem;
	font-style: italic;
	color: var(--special);
}
code { border: 1px solid var(--border); padding: 0.25em; }
blockquote {
	margin: 1em 0;
	border: 1px solid var(--border);
	padding: 0.25em;
}
[lang] { font-style: italic; }