@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	color-scheme: dark;
	line-height: 1.5; letter-spacing: 0.5px;
	background: var(--root-color);
	color: var(--text-color);
	font-family: var(--serif);

	--root-color: #222;
	--border: darkgrey;
	--text-color: #DDD;
	--link-color: var(--accent);
	--heading-color: #EEE;
	--special: silver;
	--special2: grey;
	--header-bg: #000;
	--primary: hsl(254.12deg 67.11% 74.5%);
	--primary-hover: hsl(254.12deg 67.11% 84.5%);
	--primary-active: hsl(254.12deg 67.11% 64.5%);
	--secondary: hsl(254.12deg 50.3325% 52.15%);
	--secondary-hover: hsl(254.12deg 50.3325% 62.15%);
	--secondary-active: hsl(254.12deg 50.3325% 42.15%);
	--accent: hsl(254.12deg 100% 74.5%);
	--button: #666;
	--button-light: #888;
	--button-dark: #444;
	--button-darker: #222;

	--body-width: 100%;
	--header-height: 3rem;
	--nav-height: calc(2em + 4px);
	--collective-height: var(--header-height);

	--serif: "Merriweather", serif;
	--sans-serif: "Merriweather Sans", "Noto Sans", sans-serif;
	--monospace: "Consolas", monospace;

	--logo-url: url("https://avatars.githubusercontent.com/u/121316813");
}
::selection { background: darkolivegreen; color: white; }

body {
	position: absolute; top: var(--collective-height);
	margin: 0 calc((100% - var(--body-width)) / 2);
	padding: 1rem;
	box-sizing: border-box;
	width: var(--body-width); min-height: calc(100vh - var(--collective-height));
}

a { color: var(--link-color); text-decoration: none; }
a:hover { text-decoration: underline; }
abbr[title] { text-decoration-style: solid; }
code { font-weight: normal; font-family: var(--monospace); }
button {
	padding: 0.5em 1em;
	border: none;
	background: var(--primary);
	color: var(--text-color);
	font-family: var(--serif);
	transition: .2s ease;
}
button:not(.noclick) { cursor: pointer; }
button:not(.noclick):hover { background: var(--primary-hover); }
button:not(.noclick):active { background: var(--primary-active); }
button.secondary { background: var(--secondary); }
button.secondary:hover { background: var(--secondary-hover); }
button.secondary:active { background: var(--secondary-active); }
h1, h2, h3, h4, h5, h6 { color: var(--heading-color); font-family: var(--sans-serif); }
h1 {
	line-height: 1.2; letter-spacing: 0;
	font-size: 2.5rem;
	text-align: center;
}
h2 {
	line-height: 1.3; letter-spacing: 0.2px;
	font-size: 1.75rem;
}
h3 {
	line-height: 1.4; letter-spacing: 0.35px;
	font-size: 1.5rem;
}
table { border-spacing: 0; }
table, th, td { border: 1px solid var(--border); }
hr {
	height: 2px;
	border: none;
	background: linear-gradient(to right, transparent, var(--special), transparent);
}

header {
	z-index: 1;
	position: fixed; left: 0;
	top: 0;
	box-sizing: border-box;
	width: 100%; height: var(--header-height);
	box-shadow: 0 0 24px black;
	background: var(--header-bg);
	user-select: none;
}
header > * { font-size: 1rem; }
header > a, header > button {
	display: inline-block;
	box-sizing: border-box;
	height: var(--header-height);
	padding: calc((var(--header-height) - 1.5rem) / 2) 0.5em;
	background: var(--button-dark);
	vertical-align: top;
	font-family: var(--sans-serif);
	font-weight: bold;
	transition: .2s ease;
}
header > a:hover, header > button:hover { background: var(--button); }
header > a:active, header > button:active { background: var(--button-darker); }
header > a { color: var(--text-color); }
header > a:hover { text-decoration: none; }
header > #logo {
	padding: 0;
	aspect-ratio: 1/1;
}
header > #logo img {
	content: var(--logo-url); transition: .2s ease;
	box-sizing: border-box;
	width: 100%;
	border: 2px solid var(--border);
	/*border-radius: 50%;
	animation: rotation 30s infinite linear;*/
}
header > #logo:hover img { filter: brightness(130%); }
header > #logo:active img { filter: brightness(70%); }
header > .align {
	display: inline-block;
	padding-block: calc((var(--header-height) - 1.5rem) / 2);
}
header > .right { float: right; }

h1 + p { text-align: center; }

[title]:not(header *) { cursor: help; }

.hidden { display: none; }
.noselect { user-select: none; }

/* ANIMATION KEYFRAMES */
@keyframes rotation {
	from { rotate: 0deg; }
	to { rotate: 360deg; }
}
@keyframes rotation-alt {
	0% { rotate: 0deg; }
	8% { rotate: 0deg; }
	8.3333% { rotate: 30deg; }
	16.3333% { rotate: 30deg; }
	16.6667% { rotate: 60deg; }
	24.6667% { rotate: 60deg; }
	25% { rotate: 90deg; }
	33% { rotate: 90deg; }
	33.3333% { rotate: 120deg; }
	41.3333% { rotate: 120deg; }
	41.6667% { rotate: 150deg; }
	49.6667% { rotate: 150deg; }
	50% { rotate: 180deg; }
	58% { rotate: 180deg; }
	58.3333% { rotate: 210deg; }
	66.3333% { rotate: 210deg; }
	66.6667% { rotate: 240deg; }
	74.6667% { rotate: 240deg; }
	75% { rotate: 270deg; }
	83% { rotate: 270deg; }
	83.3333% { rotate: 300deg; }
	91.3333% { rotate: 300deg; }
	91.6667% { rotate: 330deg; }
	99.6667% { rotate: 330deg; }
	100% { rotate: 360deg; }
}